<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style2.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <h2>Welcome to instagram page of @<%=data.name%> </h2>
    <div class="topBtns">
    <button class="follow">Follow</button>
    <button class="Message">Message</button>
    </div>
    <p class="paraFollow"><b>Followers</b> : <%=data.followers%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Following</b> : <%=data.following%></p>
    <hr>
<div class="cards-container">
    <% for(let post of data.posts){%>
        <div class="card">
       <img src="<%=post.image%>" >
        <p><span style="color: red;">&#10084;</span>&nbsp;</i><%=post.likes%> &nbsp; &nbsp; 
     <i class="fa-regular fa-comment">&nbsp;</i><%=post.comments%></p>
     </div>
     <%}%>
        

</div>
<button class = "backbtn" id="clickbtn4" >Back</button>
<script>
    let btn4=document.querySelector(".backbtn");
btn4.addEventListener("click",()=>{
   window.location.href="/home";
});
</script>  
</body>
</html>